
.btns{
        padding: 0px;
    font-size: 20px;
    border-radius: 0px;
    display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     
     .calckey{
      
      margin:0px;  
      padding:0px; 
      border-radius: 0px; 
      box-sizing: border-box;
     }
     
 /* .btn btn-danger{
    padding: 10px 10px;
  font-size: 20px;
  border-radius: 0px;
  }
  */
  .description {
    color:white;
  }
  .screen {
    text-align:right;
    height: 50px;
    font-size: 20px;
    border-radius: 0px;
    width : 100%;
    padding: 0px;
    background-color:black;
    
  }
.calc{
  margin: 50px 200px;
  padding: 50px;
  max-width: 500px;
  text-align: center;
  
}
.abc{
  
    font-size: 20px;
    border-radius: 0px;
    width : 100%;
    padding: 0px;
    display:grid;
      grid-template-columns: 2fr 1fr 1fr;
  
}

/*
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*/
.btn btn-danger
{
  margin:0px;  
      padding:0px; 
      border-radius: 0px; 
      box-sizing: border-box
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
